@import url(reset.css);

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../public/images/xp.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}



